In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/prajnabhandary/Desktop/dataset/ding-chain-restaurants-in-the-us-in.csv")

In [3]:
df2 = pd.read_csv("/Users/prajnabhandary/Desktop/dataset/t-restaurants-in-the-us-2017-by-age.csv")

In [4]:
df3 = pd.read_csv("/Users/prajnabhandary/Desktop/dataset/t-restaurants-in-the-us-2018-by-age.csv")

In [5]:
df4 = pd.read_csv("/Users/prajnabhandary/Desktop/dataset/visited-fast-food-restaurants-2017.csv")

In [6]:
df3['Age'].unique()

array(['18 - 29 years', '30 - 49 years', '50 - 64 years', '18-29 years',
       '30-49 years', '50-64 years'], dtype=object)

In [7]:
df3['Age'] = df3['Age'].replace(['18 - 29 years', '30 - 49 years', '50 - 64 years'], ['18-29 years', '30-49 years', '50-64 years'])

In [8]:
df3['Age'].unique()

array(['18-29 years', '30-49 years', '50-64 years'], dtype=object)

In [12]:
df2['Age'].unique()

array(['18 - 29 years', '30 - 49 years', '50 - 64 years', '18-29 years',
       '30-49 years', '50-64 years'], dtype=object)

In [13]:
df2['Age'] = df2['Age'].replace(['18 - 29 years', '30 - 49 years', '50 - 64 years'], ['18-29 years', '30-49 years', '50-64 years'])

In [14]:
df2['Age'].unique()

array(['18-29 years', '30-49 years', '50-64 years'], dtype=object)